.slider {
    position: relative;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 750px;
    overflow: hidden;
}

.rightArrow {
    position: absolute;
    right: -80px;
    top: 40%;
}

.leftArrow {
    position: absolute;
    left: -80px;
    top: 40%;
    rotate: 180deg;
}